.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(large\ wallpaper3.jpg);
    color: antiquewhite;
    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 85%;
    padding: 20px 10%;
    background: rgb(245, 240, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 30px;
    color: rgb(40, 134, 241);
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 25px;
    color: rgb(24, 3, 119);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
}

.navbar a:hover{
    color: rgb(2, 2, 148);
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 50px;
    font-weight: 700;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: rgb(181, 214, 214);
}

.home-content p{
    font-size: 20px;
}


.home-content a{
    background: rgb(115, 189, 231);
    padding: 20px 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(3, 1, 15);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    
}

.images{
    width: 45%;
    height: 120%;
    position: absolute;
    bottom: 0;
    right: 50px;
}


.images img{
    height: 60%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    position: bottom 1s left 1s;
}

.images:hover .man{
    left: 45%;
    transition: 3s;
    opacity: 0.3;
    cursor: pointer;
}








